@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(img/Rectangle-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.container {
    margin: 0 8%;

}

.header-line {
    margin-top: 50px;
    display: flex;
    padding: 15px 25px 15px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 50px;

    }
.nav {
    display: block;

}
.nav__item {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: rgba(37, 37, 37, 0.7);
    padding-right: 35px;
    transition: color 0.4s linear; 

}
.nav__item:hover {
    font-weight: 500;
    color: #1E88E5;
}
.button__btn {
    text-decoration: none;
    background-color: #1E88E5;
    padding: 11px 43px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    transition: background-color 0.3s linear;
    cursor: pointer;

}
.button__btn:hover {
    background-color: #016dcc;
}
.button {
    border: none;
    outline: none;
    background-color: transparent;
}


.section-home {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 121px;

}

.section-home-left {
    max-width: 690px;
    min-width: 450px;
}
.section-home-left__text-area {
    margin-top: 119px;
    width: 100%;

}
.section-home-right__img {
    margin-top: 25px;
    width: 105%;
    height: auto;
} 

.text-area__title {
    color: #252525;
    font-weight: 700;
    font-size: 65px;
    line-height: 98px;
    

}
.text-area__description {
    color:rgba(37, 37, 37, 0.6);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-top: 17px;
}

.section-home-left__form-area {
    margin-top: 84px;
    display: flex;
    width: 690px;

}
.submit-btn {
    cursor: pointer;
    border: none;
    background-color: #1E88E5;
    padding: 20px 24px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    transition: background-color 0.3s linear;
}

.submit-btn:hover {
    background-color: #016dcc;
}

.placeholder {
    margin-left: 19px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    color: #9D9D9D;
    font-weight: 400;
    font-size: 20px;
    padding: 23px 173px 23px 25px;
    background-image: url(img/icon-search.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    outline: none; 
}

.section-info {
    background-color: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 41px 53px;
    display: flex;
    justify-content: space-between;

}
.section-info__card {
    text-align: center;
}
.card-title {
    color: #252525;
    font-weight: 500;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 45px;
    
}
.card-desc {
    color: #9D9D9D;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
}

